<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Estudio</title>
	<link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
	<header>
        
              <!--En el home quiero tener grandes fotografías que puedan ir pasando con un texto alusivo -->
            <!-- ENLACE INTERNO DE MI PAGINA . ENLACE RELATIVO -->
            <nav id="menu">
                <div><a title="logo" href="../index.html"> <img src="../img/logo.png" alt="logo"/></a>
                <ul>
            <!--ACA quizas no coloque el submenu... lo dejo como practica-->
            <!--Estoy evaluando agregar un search -->
                    <li><a href="../views/trabajos.html">TRABAJOS</a></li>
                    <li><a href="../views/estudio.html">ESTUDIO</a></li>
                    <li><a href="../views/novedades.html">NOVEDADES</a></li>
                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                </ul>
            </nav>  
        </div>
    </header>
	<br> 

	<br>
	<br>
    	<h3>Hola!</h3>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laborum commodi suscipit perferendis beatae assumenda <strong> temporibus adipisci, molestiae id itaque</strong> . Distinctio incidunt, consequatur doloremque saepe totam quam? Voluptate, ex perspiciatis.</p>
        
    	<p class="espaciado"> Lorem ipsum dolor sit amet,consectetur adipisicing elit. Tempora laborum commodi suscipit perferendis beatae assumenda temporibus adipisci, molestiae id itaque . Distinctio incidunt, consequatur doloremque saepe totam quam? Voluptate, ex perspiciatisLorem ipsum dolor sit amet,consectetur adipisicing elit. Tempora laborum commodi suscipit perferendis beatae assumenda temporibus adipisci, molestiae id itaque . Distinctio incidunt, consequatur doloremque saepe totam quam? Voluptate, ex perspiciatis.</p>

    	<p class="estudio1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laborum commodi suscipit perferendis beatae assumenda temporibus adipisci, molestiae id itaque. Distinctio incidunt, consequatur doloremque saepe totam quam? Voluptate, ex perspiciatis.</p> 

    	<h3><span>Un orgunllo... nuestros clientes</h3>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias excepturi recusandae, dolores modi.</p>
    
</body>
</html>