<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Novedades</title>
	<link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <header>

         <nav id="menu">
                <div><a title="logo" href="../index.html"> <img src="../img/logo.png" alt="logo"/></a>
                <ul>
            <!--ACA quizas no coloque el submenu... lo dejo como practica-->
            <!--Estoy evaluando agregar un search -->
                    <li><a href="../views/trabajos.html">TRABAJOS</a></li>
                    <li><a href="../views/estudio.html">ESTUDIO</a></li>
                    <li><a href="../views/novedades.html">NOVEDADES</a></li>
                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                </ul>
            </nav>  
        </div>
    </header>
    <!-- me gustaría esta parte sea como un blog -->
    <!-- me gustaría se pueda reflejar dentro de la pagina los comentarios de mis clientes en las redes sociales, se podra??? -->
    <!-- aquí nose porque no se me ven las imagenes -->
    <div id="novedades">

    	<h5>Enero 2020 - Blend Collection</h5>
        <img src="../img/blend.jpg">
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laborum commodi suscipit perferendis beatae assumenda temporibus adipisci, molestiae id itaque. Distinctio incidunt, consequatur doloremque saepe totam quam? Voluptate, ex perspiciatis.</p>
        
    	<h5>Noviembre 2019 - Evento Julia XV</h5>
        <img src="../img/juliaxv.jpg">
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laborum commodi suscipit perferendis beatae assumenda temporibus adipisci, molestiae id itaque. Distinctio incidunt, consequatur doloremque saepe totam quam? Voluptate, ex perspiciatis.</p>

    	<h5>Agosto 2019 - Merlot</h5>
        <img src="../img/merlot.jpg">
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laborum commodi suscipit perferendis beatae assumenda temporibus adipisci, molestiae id itaque. Distinctio incidunt, consequatur doloremque saepe totam quam? Voluptate, ex perspiciatis.</p> 

    	<h5>Mayo 2019 - Gestión Web</h5>
        <iframe src="https://www.gestioncobranzas.com.ar" width=250 height=200>Desarrollo Web </iframe>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias excepturi recusandae, dolores modi. Enim, inventore? Eligendi tenetur quod et molestiae similique explicabo voluptate, vitae, qui beatae, totam at ab!</p>
    
      </div>
      <!-- al pie de la pagina datos de contacto -->
    <footer>
        <div class="item">
             <h5>2001 / 2020</h5> 
             <p> Diseño Estudio Migliaro</p>
        </div>

        <div class="item">
            <h5>Seguinos por las redes sociales</h5>
            <P>Instagram</P> <!--agregar icono y linkear Instagram...-->
            <p>Linkedin</p> <!--agregar icono y linkear Linkedin-->
        </div>

        <div class="item">
            <h5>Contactanos</h5>
            <p>Francia 348 - 9000 Comodoro Rivadavia, Chubut</p>
            <p>contacto@estudiomigliaro.com.ar</p>
            <p>Cel 54 (297) 156212389</p> 
            <p>54 (9) 6212389</p> <!--se podra linkear a whatsapp ?? -->
        </div>
    </footer>
</body>
</html>