<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Trabajos</title>
	<link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <header>
            <nav id="menu">
                <div><a title="logo" href="../index.html"> <img src="../img/logo.png" alt="logo"/></a>
                <ul>
                    <li><a href="../views/trabajos.html">TRABAJOS</a></li>
                    <li><a href="../views/estudio.html">ESTUDIO</a></li>
                    <li><a href="../views/novedades.html">NOVEDADES</a></li>
                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="trabajos">

        <h3>Diseño Web</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laborum commodi suscipit perferendis beatae assumenda temporibus adipisci, molestiae id itaque. Distinctio incidunt, consequatur doloremque saepe totam quam? Voluptate, ex perspiciatis.</p>
        <iframe src="https://www.gestioncobranzas.com.ar" width=560 height=315>Texto para cuando el navegador no conoce la etiqueta iframe</iframe>

        <iframe src="https://www.oriundo.com.ar" width=560 height=315>Texto para cuando el navegador no conoce la etiqueta iframe</iframe>

        <iframe src="https://www.mehsa.com.ar" width=560 height=315>Texto para cuando el navegador no conoce la etiqueta iframe</iframe>

        <img src="img/blend.jpg">
    </div>
<!-- al pie de la pagina datos de contacto -->
    <footer>
        <div class="item">
             <h5>2001 / 2020</h5> 
             <p> Diseño Estudio Migliaro</p>
        </div>

        <div class="item">
            <h5>Seguinos por las redes sociales</h5>
            <P>Instagram</P> <!--agregar icono y linkear Instagram...-->
            <p>Linkedin</p> <!--agregar icono y linkear Linkedin-->
        </div>

        <div class="item">
            <h5>Contactanos</h5>
            <p>Francia 348 - 9000 Comodoro Rivadavia, Chubut</p>
            <p>contacto@estudiomigliaro.com.ar</p>
            <p>Cel 54 (297) 156212389</p> 
            <p>54 (9) 6212389</p> <!--se podra linkear a whatsapp ?? -->
        </div>
    </footer>

   
</body>
</html>